:root{
  font-family: Arial;
}

body {
  margin: 0;
  padding: 0;
}

main {
  display: block;
}

a {
  text-decoration: none;
  font-family: Arial;
}

li{
  list-style: none;
}

a:visited, a:active, a:link{
  color: black;
}

a:hover{
  color: blue;
}


b,
strong {
  font-weight: bolder;
}


code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}


img {
  border-style: none;
  width: 100%;
}

input{
  margin: 5px;
  padding:10px 20px
}


